body {
  margin: 0;
  font-family: 'Segoe UI', Roboto, sans-serif;
  background: linear-gradient(to right, #f8fafc, #e0f7fa);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
